<ion-content class="speaker-detail">
  <ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/app/tabs/speakers"></ion-back-button>
      </ion-buttons>
      <ion-buttons *ngIf="speaker" slot="end">
        <ion-button (click)="openContact(speaker)">
          <ion-icon slot="icon-only" ios="call-outline" md="call-sharp"></ion-icon>
        </ion-button>
        <ion-button (click)="openSpeakerShare(speaker)">
          <ion-icon slot="icon-only" ios="share-outline" md="share-sharp"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <div class="speaker-background">
    <img [src]="dataMaisonSelected?.src[0]?.url" [alt]="dataMaisonSelected?.nom">
    
  </div>

  <div class="ion-padding speaker-detail">
    <h2>{{dataMaisonSelected?.nom}}</h2>
    <hr>
    <p>{{dataMaisonSelected?.description}} </p>
<p>Cost Par nuit : {{dataMaisonSelected?.costprnuit}} dt</p>
    <hr>
    <page-maps  *ngIf="mapdetails" [latLong]="mapdetails"></page-maps>

    <hr style="    margin-top: 45vh;">
    <ion-chip color="facebook" button (click)="openExternalUrl(dataMaisonSelected?.instaUrl)">
      <ion-icon name="logo-facebook"></ion-icon>
      <ion-label>facebook</ion-label>
    </ion-chip>

    <ion-chip color="instagram" button (click)="openExternalUrl(dataMaisonSelected?.instaUrl)">
      <ion-icon name="logo-instagram"></ion-icon>
      <ion-label>Instagram</ion-label>
    </ion-chip>
  </div>
</ion-content>
